Source: wdb
Section: devel
Priority: extra
Maintainer: WDB Group, Meteorologisk institutt <wdb@met.no>
Uploaders: Michael O. Akinde <michael.akinde@met.no>
Build-Depends: debhelper (>= 7),
 debconf,
 po-debconf,
 devscripts,
 cdbs,
 pkg-config (>=0.22),
 autotools-dev,
 autoconf (>=2.61),
 automake,
 xmlto,
 libboost-filesystem-dev (>=1.46.1), 
 libboost-program-options-dev (>=1.46.1), 
 libboost-regex-dev (>=1.46.1), 
 libboost-date-time-dev (>=1.46.1),
 libboost-thread-dev (>=1.46.1),
 libreadline-dev (>=5.2),
 libcppunit-dev (>=1.12.1),
 libproj-dev (>=4.6.0), 
 libgeos-dev (>=3.1.0),
 libpqxx3-dev (>= 3.0.0), 
 liblog4cpp5-dev (>=1.0), 
 libglib2.0-dev (>=2.24.0),
 postgresql-server-dev-9.1
Standards-Version: 3.9.3

Package: wdb-1.5
Architecture: any
Depends: ${misc:Depends},
 ${shlibs:Depends},
 adduser, 
 python (>=2.4),
 postgresql-9.1,
 postgresql-9.1-postgis,
 postgresql-client (>=9.1),
 proj (>=4.6.0)
Breaks: wdb-0.9 (<= 0.9.9), wdb-1.0 (<= 1.0.2), wdb (<= 1.1.0)
Replaces: wdb-0.9, wdb-1.0, wdb (<= 1.1.0)
Provides: wdb
Description: Database designed to store MHO data.
 Database system designed to store MHO (Meteorological, Hydrological and
 Oceanographic) data in a postgresql database. The purpose of the system 
  is to improve the quality and effectiveness of IT systems for MHO 
  production by providing a complete, flexible, and effective data storage
  solution for real-time and archive data.

Package: wdb-clean-referencetime-1.5
Architecture: all
Depends: wdb, ${misc:Depends}
Description: Installs cleaning based on reference times into a wdb database.
 Installing this package will attach an extra cleaning function to wdb's 
 cleaner cron-job. The job will clean all data from the database with a 
 reference time older that 24 hours. Special rules for special data providers 
 may be provided by adding entries in the clean.referencetime_lifetime table.
 Default lifetimes may be modified in a similar way.

Package: wdb-clean-dataversion-1.5
Architecture: all
Depends: wdb, ${misc:Depends}
Description: Installs cleaning based on data versions into a wdb database.
 Installing this package will attach an extra cleaning function to wdb's 
 cleaner cron-job. The job will clean only allow the latest data version for
 each piece of data to live.
