#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

#DEB_DESTDIR = $(CURDIR)/debian/wdb

DEB_DH_INSTALL_CRON_ARGS = --name=wdb

install/wdb-1.5::
	for file in $(CURDIR)/debian/tmp/usr/lib/*.la; do \
		sed -i "/dependency_libs/ s/'.*'/''/" $$file ; \
	done
	mv $(CURDIR)/debian/tmp/usr/lib/wdb/wdb/* $(CURDIR)/debian/tmp/usr/lib/wdb/
	rm -rf $(CURDIR)/debian/tmp/usr/lib/wdb/wdb/
	rm $(CURDIR)/NEWS

#install/wdb-clean-referencetime-1.5::
#	rm $(CURDIR)/NEWS

#install/wdb-clean-dataversion-1.5::
#	rm $(CURDIR)/NEWS
