Source: wdb
Section: science
Priority: optional
Maintainer: Michael Akinde <wdb@met.no>

Package: wdb
Architecture: all
Depends: wdb-1.0
Description: This meta-package installs the currently supported version of
 the wdb database.
 . 
 wdb is designed to store MHO (Meteorological, Hydrological and
 Oceanographic) data. The purpose of the system is to improve the
 quality and effectiveness of IT systems for MHO production by
 providing a complete, flexible, and effective data storage solution
 for real-time and archive data.
